body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f9ff;
}

button {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #ddd;
    
}

.downloadbtn {
    background-color: #28a745;
    color: white;
}

.downloadbtn:hover {
    background-color: #218838;
}

.updatebtn {
    background-color: #ffc107;
    color: white;
}

.updatebtn:hover {
    background-color: #e0a800;
}

.deletebtn {
    background-color: #dc3545;
    color: white;
}

.deletebtn:hover {
    background-color: #c82333;
}


button:hover{
    background-color: #04478e;
} 
button.v{
    background-color: #218838;
    
    cursor: pointer;
}
button.e{
    background-color: yellow;
    color: black;
    cursor: pointer;

}
button.u{
    background-color: red;
    cursor: pointer;

}
button.d{
    background-color: darkmagenta;
    cursor: pointer;

}

h1{
    text-align: center;
}
button#add{
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 10px;
    
    background-color: #007bff;
}
