<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="table.css">
<body onload="getdata()">
    
        <h1>Users Table</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="tbody">
            <!-- Example Row -->
            <tr>
             
              </td>
            </tr>
          </tbody>
        </table>
    <script src="../services/table.js">
      
       
    </script>
    <button id="add" >
      <a href="form.html">Add new</a>
      </button>
</body>
</html>










